.mar_auto{
	margin:0 auto;
}

.item{
	display: inline-block;
	width: 100px;
	height:40px;
	text-align: right;
	border:none;
	margin-right: 30px;
	margin-bottom: 10px;
} 
.content{
	padding: 20px 30px;
        background-color:#F2F2F2;
        border:1px solid #EDFAF5;
        border-radius:3px;
	.sex{
		line-height: 34px;
	}
	.btn{
		margin-left:30px;
		margin-top: 10px;
	}
	select{
		width: 65px;
	}
	input{
		width:250px;
	}
	textarea{
		width:700px;
		font-size: 16px;
	}
	label{
		font-weight: normal;
	}
	button:first-child{
		margin-left: 50px;
	}
}
.showinfo{
    padding-top: 20px;
	p{
	    display: inline-block;
    	width: 400px;
	}
	.btn{
    	width:120px;
    }
}
#changeinfo{
    display: none;
}