.createclub {
  padding: 10px 0;
  background-color: #F2F2F2;
  border: 1px solid #EDFAF5;
  border-radius: 3px;
}
.createclub input {
  width: 200px;
  font-size: 18px;
  padding-left: 5px;
}
.createclub textarea {
  width: 400px;
  height: 150px;
  padding: 5px;
}
.createclub .btn {
  margin-top: 10px;
  margin-left: 170px;
}
.createclub label {
  font-size: 16px;
  font-weight: normal;
}
